body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

header {
    background-color: #333;
    color: white;
    padding: 20px 0;
}

header .container {
    display: flex;
    justify-content: space-between;
    align-items: center;
}


header h1 {
    margin: 0;
    font-size: 24px;
}

nav ul {
    list-style: none;
    margin: 0;
    padding: 0;
    display: flex;
}

nav ul li {
    margin: 0 10px;
}

nav ul li a {
    color: white;
    text-decoration: none;
    font-size: 18px;
}

.hero {
    background: url('school.jpg') no-repeat center center/cover;
    height: 70vh;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    position: relative;
    animation: heroAnimation 20s infinite;
}

.hero h2 {
    font-size: 48px;
    margin: 0 0 10px;
}

.hero p {
    font-size: 24px;
    margin: 0;
}

section {
    padding: 60px 20px;
}

.container {
    max-width: 1200px;
    margin: 0 auto;
}

.about, .students, .contact {
    background-color: #f4f4f4;
    margin-bottom: 30px;
}

footer {
    background-color: #333;
    color: white;
    text-align: center;
    padding: 20px 0;
}

footer p {
    margin: 0;
}

@keyframes heroAnimation {
    0% { background-image: url('school1.jpg'); }
    33% { background-image: url('school.jpg'); }
    40% { background-image: url('school5.jpg'); }
    50% { background-image: url('school4.jpg'); }
    66% { background-image: url('school5.jpg'); }
}